﻿
@{
    ViewBag.Title = "Index";
}

<h2>Contributors</h2>
<div>This website was made possible by the following contributors:</div>
<div>
    <div>Dave Henson</div>
    <div>Tina Soltanian</div>
    <div>Patrick Chapman</div>
    <div>Jieping Tang</div>
    <div>Yonathan Seleshi</div>
    <div>Max Cointreau</div>
    <div>Kevin Normandy</div>
    <div>Carl Scaglione</div>
    <div>Joanna Honeycutt</div>
    <div>Valentin Ionita</div>
</div>


